@font-face {
  font-family: "The Erased";
  src: url(fonts/TheErased-Dutch.woff) format("woff"), url(fonts/TheErased-Dutch.woff2) format("woff2");
}

@font-face {
  font-family: "Avenir";
  src: url(fonts/Avenir-Roman.woff2) format("woff2");

  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url(fonts/Avenir-Heavy.woff2) format("woff2");

  font-style: normal;
  font-weight: 800;
}

.CZvlMiTaJPn2Fw1rO3aC {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px 20px;
  width: 100%;
  background: #eeeeee;
  overflow: hidden;
  z-index: 2147483646;
}

.CZvlMiTaJPn2Fw1rO3aC,
.CZvlMiTaJPn2Fw1rO3aC p,
.CZvlMiTaJPn2Fw1rO3aC button,
.CZvlMiTaJPn2Fw1rO3aC label span:after {
  box-sizing: border-box;
}

.CZvlMiTaJPn2Fw1rO3aC h1,
.CZvlMiTaJPn2Fw1rO3aC h2,
.CZvlMiTaJPn2Fw1rO3aC h3,
.CZvlMiTaJPn2Fw1rO3aC h4,
.CZvlMiTaJPn2Fw1rO3aC h5 {
  margin: 0;
  padding: 0;
  font-family: "The Erased";
  color: #282828;
}

.CZvlMiTaJPn2Fw1rO3aC h3 {
  font-size: 15px;
  line-height: 15px;
}

.CZvlMiTaJPn2Fw1rO3aC p,
.CZvlMiTaJPn2Fw1rO3aC a,
.CZvlMiTaJPn2Fw1rO3aC a:visited,
.CZvlMiTaJPn2Fw1rO3aC a:link,
.CZvlMiTaJPn2Fw1rO3aC a:hover,
.CZvlMiTaJPn2Fw1rO3aC a:active,
.CZvlMiTaJPn2Fw1rO3aC a:focus,
.CZvlMiTaJPn2Fw1rO3aC em,
.CZvlMiTaJPn2Fw1rO3aC label {
  margin: 0;
  padding: 0;
  font-family: "Avenir", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  text-decoration: none;
  color: #282828;
  text-align: left;
}

.CZvlMiTaJPn2Fw1rO3aC a:hover {
  opacity: 0.5;
}

.CZvlMiTaJPn2Fw1rO3aC label {
  font-size: 10px;
}

.CZvlMiTaJPn2Fw1rO3aC a,
.CZvlMiTaJPn2Fw1rO3aC em,
.CZvlMiTaJPn2Fw1rO3aC label {
  font-weight: 800;
}

.CZvlMiTaJPn2Fw1rO3aC a {
  text-decoration: underline;
}

.CZvlMiTaJPn2Fw1rO3aC svg {
  margin: 0 10px 0 0;
  width: 30px;
}

.CZvlMiTaJPn2Fw1rO3aC h3,
.CZvlMiTaJPn2Fw1rO3aC svg {
  vertical-align: middle;
}

.CZvlMiTaJPn2Fw1rO3aC p {
  display: block;
}

.CZvlMiTaJPn2Fw1rO3aC .J4zxpXQrLtFa4AMljitA {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin: 0 0 25px;
}

.CZvlMiTaJPn2Fw1rO3aC h3,
.CZvlMiTaJPn2Fw1rO3aC button {
  display: inline-block;
  vertical-align: middle;
}

.CZvlMiTaJPn2Fw1rO3aC label {
  position: relative;
  margin: 2px 0 0;
  height: 30px;
  cursor: pointer;
  z-index: 2147483647;
  vertical-align: middle;
}

.CZvlMiTaJPn2Fw1rO3aC label span {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 40px;
  margin: 0 0 0 10px;
}

.CZvlMiTaJPn2Fw1rO3aC label span:before {
  content: "";

  position: absolute;
  right: 0;
  top: 0;

  height: 30px;
  width: 40px;
  background: #282828;
  border-radius: 100px;
  pointer-events: none;
}

.CZvlMiTaJPn2Fw1rO3aC label span:after {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  height: 30px;
  width: 30px;
  border: 2px solid #282828;
  background: #eeeeee;
  border-radius: 100px;
  pointer-events: none;
}

.CZvlMiTaJPn2Fw1rO3aC label input[type="checkbox"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
}

.CZvlMiTaJPn2Fw1rO3aC label input[type="checkbox"]:checked + span::after {
  right: 0;
  left: auto;

  background: #ffe600;
}

@media (min-width: 769px) {
  .CZvlMiTaJPn2Fw1rO3aC {
    padding: 15px 40px;
  }

  .CZvlMiTaJPn2Fw1rO3aC .J4zxpXQrLtFa4AMljitA {
    margin: 0;
  }

  .CZvlMiTaJPn2Fw1rO3aC p {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 0 0 0 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }
}

@media (min-width: 1040px) {
  .CZvlMiTaJPn2Fw1rO3aC p,
  .CZvlMiTaJPn2Fw1rO3aC a,
  .CZvlMiTaJPn2Fw1rO3aC a:visited,
  .CZvlMiTaJPn2Fw1rO3aC a:link,
  .CZvlMiTaJPn2Fw1rO3aC a:active,
  .CZvlMiTaJPn2Fw1rO3aC a:focus,
  .CZvlMiTaJPn2Fw1rO3aC em,
  .CZvlMiTaJPn2Fw1rO3aC label {
    font-size: 15px;
    line-height: 20px;
  }

  .CZvlMiTaJPn2Fw1rO3aC h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .CZvlMiTaJPn2Fw1rO3aC label span:after {
    border: 5px solid #282828;
  }
}

